.hand:hover {
  cursor: pointer;
}

:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.toggle-all + button {
	width: 70px;
	height: 38px;
	font-size: 0;
	position: absolute;
	top: -52px;
	left: -13px;
  font-size: 22px;
	color: #e6e6e6;
	transform: rotate(90deg);
}

.toggle-all:checked + button {
	color: #737373;
}

.todo-list li .toggle {
  opacity: 1;
}
