.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.hand:hover {
  cursor: pointer;
}

:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.toggle-all {
	width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	top: -52px;
	left: -13px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
  opacity: 1;
  appearance: none;
}

.toggle-all:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
	color: #737373;
}

.todo-list li .toggle {
  opacity: 1;
}

.todo-list li .destroy {
  display: block;
}

.todo-list li .destroy:after {
  content: ''
}

.todo-list li .destroy:hover:after,
.todo-list li .destroy:focus:after {
  content: '×'
}
