h1 {
  color: inherit !important;
}

footer {
  color: inherit !important;
}

*::placeholder {
  color: darkGrey !important;
}

.hand:hover {
  cursor: pointer;
}

.todo-list li .toggle:checked + label {
  color: darkGrey !important;
}

.todo-list li .toggle {
  opacity: 1;
}

.todo-list li .destroy {
  display: block;
}

.todo-list li .destroy:after {
  content: ''
}

.todo-list li .destroy:hover:after,
.todo-list li .destroy:focus:after {
  content: '×'
}
