h1 {
  color: inherit !important;
}

footer {
  color: inherit !important;
}

*::placeholder {
  color: darkGrey !important;
}

.hand:hover {
  cursor: pointer;
}

.todo-list li .toggle:checked + label {
  color: darkGrey !important;
}

.todo-list li .toggle {
  opacity: 1;
}
